// rendering the _post.html.haml partial, passing the @post instance variable as post
= render 'post', post: @post
- if @post.user.id == current_user.id
  .text-center.edit-links
    -if @post.user.id == current_user.id
      =link_to "Cancel", posts_path
      |
      =link_to "Edit", edit_post_path
      |
      =link_to "Delete", post_path(@post), method: :delete, data: {confirm: "You sure?"}
- else
  .text-center.edit-links
    =link_to "Cancel", posts_path
